

    $font-color-main: #999999;
    $font-color-name-title: #081F32;
    $boxinfo-font-color: #374A59;
    $modal-label-color:#263238;
    $bg_g: linear-gradient(135deg, #FF0000 0%, #FED482 50%);
    $bg_s: linear-gradient(135deg, #1C792B 0%, #82E95E 50%);
    $bg_h: linear-gradient(135deg, #FFC700 0%, #FFF388 50%);
    $bg_r: linear-gradient(135deg, #0597B7 0%, #66D1FF 50%);
    $button_color: #6B63B5;
    $font-normal: 18px;
    $font-button: 17px;
    $font-small: 14px;
    $font-big: 24px;
    $name_title: 30px;
    $main_title: 36px;
    $ribbonColor: #ffffff;
    $shadow : #507abd;
   
    
 
    

    



